@tailwind base;
@tailwind components;
@tailwind utilities;

$font-stack: Helvetica, sans-serif;
$primary-color: #00d612;
body {
  font: 100% $font-stack;
}

.draggable {
  -webkit-app-region: drag;
}

.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
